name: Rust

on:
  push:
    paths:
      - rust/**
    branches: [ main ]
  pull_request:
    paths:
      - rust/**
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      working-directory: ./rust
      run: cargo test --verbose --bins
